.headerContainer {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    width: 100%;
    z-index: 90;
    background-color: black;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.logo {
    color: white;
}

.headerContainer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 400px;
}

.linkContainer {
    text-decoration: none;
}

.linkContainer span {
    color: white;
}

.linkContainer span:hover {
    cursor: pointer;
    color: grey;
}

.icon {
    height: 30px;
    width: 30px;
    color: white;
}

.icon:hover {
    color: grey;
}